<!--<table class="all-table">-->
    <!--<thead >-->
        <!--<tr class="header-tr">-->
            <!--<th ng-repeat="column in tables.gsmpower.order" ng-if="tables.gsmpower.has[column]" class="header-th">{{column}}</th>-->
        <!--</tr>-->
    <!--</thead>-->
    <!--<tbody >-->
    <!--<tr class="all-tr" ng-repeat="item in mytable | limitTo:50">-->
        <!--<td ng-repeat="column in tables.gsmpower.order" class="all-td">{{item[column]}}-->
        <!--</td>-->
    <!--</tr>-->
    <!--</tbody>-->
<!--</table>-->
<div style="position: relative; height:183px; width:800px">
<canvas id="bar900" style="height:40vh; width:80vw" class="chart chart-bar" chart-colors="chartcolors"
  chart-data="data" chart-labels="labels" chart-options="chartoptions" chart-dataset-override="overr" chart-hover="onHover" >
</canvas>
    </div>
