<link href="modals/column-settings.view.css" rel="stylesheet" />
<div class="simpleDemo columns-modal">
    <div style="height: 25px;line-height:20px;font-size:22px;border-bottom: 2px solid gray">
        {{tr.TABLE_VIEW}}
        <div ng-click="close($event)" style="float:right;font-size: 36px;height:20px;line-height:20px;">&times;</div>
    </div>
    <table width="100%">
        <tr>
            <td rowspan="3" wigth="64px">
                <div class="rd-button topbtn">
                <label><input type="radio" name="radio-group" checked="true"><span  ng-click="change('GSM_T','gsm')">{{tr.GSM}}</span></label>
                </div>
                <div class="rd-button topbtn" >
                <label><input type="radio" name="radio-group"><span  ng-click="change('WCDMA_T','wcdma')">{{tr.WCDMA}}</span></label>
                </div>
                <div class="rd-button topbtn" >
                <label><input type="radio" name="radio-group"><span  ng-click="change('LTE_T','lte')">{{tr.LTE}}</span></label>
                </div>
            </td>
            <td align="right" style="padding-right: 40px">
                {{tr.VISIBLE}}
            </td>
            <td ng-click="allInvisible()">
                <div class="redbutton5">
                >>
                </div>
            </td>
            <td ng-click="allVisible()" >
                <div class="redbutton5">
                <<
                </div>
            </td>
            <td align="left" style="padding-left: 40px">
                {{tr.HIDDEN}}
            </td>
        </tr>
        <tr>
            <td colspan="2" ng-repeat="(listName, list) in models.lists">
                <div class="panel-body" style="width : 210px">
                    <ul dnd-list="list" style="margin: 0px;">
                        <li ng-repeat="item in list"
                            dnd-draggable="item"
                            dnd-moved="list.splice($index, 1)"
                            dnd-effect-allowed="move"
                            dnd-selected="models.selected = item"
                            ng-class="{'selected': models.selected === item}"
                            >
                            {{tr[real_name_gsm][item.label]}}
                        </li>
                    </ul>
                </div>
            </td>
        </tr>
        <tr>
            <td colspan="4" ng-click="update()">
                <div class="redbutton3">{{tr.APPLY}}</div>
            </td>
        </tr>
    </table>



</div>