<link href="modals/detail-choose.view.css" rel="stylesheet" />
<div class="simpleDemo detail-modal">
    <div style="height: 25px;line-height:20px;font-size:22px;border-bottom: 2px solid gray">
        {{tr.DETAILED_SCAN}}
        <div ng-click="close($event)" style="float:right;font-size: 36px;height:20px;line-height:20px;">&times;</div>
    </div>
    <table width="100%" style="margin-top:5px">
        <tr>
            <td>
                <input placeholder="ARFCN" ng-model="arfcn.arfcn" ng-keyup="$event.keyCode == 13 && addArfcn()" style="height:5px;width: 90px; padding: 8px; display: block; border: none; border-bottom: 1px solid #ccc;background-color:transparent">
            </td>
            <td>
                <div ng-click="addArfcn()" class="redbutton2">{{tr.ADD}}</div>
            </td>
            <td>
                <div ng-click="import()" class="redbutton2">{{tr.IMPORT}}</div>
            </td>
            <td>
                <div ng-click="arfcn.arfcns = []" class="redbutton2">{{tr.CLEAR}}</div>
            </td>
            <td>
                <div ng-click="scan_detail();close($event)" class="redbutton2">{{tr.RUN}}</div>
            </td>
        </tr>
        <tr>
            <td colspan="5" >
                <div style="width:575px;min-height:84px"><span style="color:#fff;width:60px;border-radius:10px;background-color:#7DA422 ; margin:5px;padding:6px;float:left" ng-repeat="item in arfcn.arfcns" ng-click="removeArfcn(item)">{{item}}&nbsp;<div style="float: right; width: 15px; border-radius: 20px; font-size: 11px; border: 1px solid #ddd;color:#eee;">x</div></span></div>
            </td>
        </tr>
    </table>
</div>