<link href="modals/modem.view.css" rel="stylesheet" />
<div class="modem-modal" style="position: relative;">
    <div style="height: 25px;line-height:20px;font-size:22px;border-bottom: 2px solid gray">
        {{tr.MODEM}}
        <div ng-click="close($event)" style="float:right;font-size: 36px;height:20px;line-height:20px;">&times;</div>
    </div>
    <table width="100%" style="height :calc(100% - 25px)" style="background-color: #EEEEEE;/*padding: 10px 30px 2px 30px*/">
        <tr>
            <td style="border: 4px double black" width="40%">
                <span style="font-weight: bold; font-size: 14pt" ng-click="test($event)">{{tr.INTERFACE}}</span>
                <span >{{global.currentModem.iface}}</span>
                <div style="height:10px" ></div>
                <span style="font-weight: bold; font-size: 14pt">{{tr.IMEI}}</span>
                <span >{{global.currentModem.imei}}</span>
                <div style="height:10px" ></div>
                <span style="font-weight: bold; font-size: 14pt">{{tr.IMSI}}</span>
                <span >{{global.currentModem.imsi}}</span>
                <div style="height:10px" ></div>
                <span style="font-weight: bold; font-size: 14pt">{{tr.TASK}}</span>
                <span >{{global.currentModem.job}}</span>
            </td>
            <td  style="vertical-align: top; height:250px" >
                <div width="100%" style="height:40px">
                    <div style="margin:auto;width:204px;padding:5px 0">
                        <div class="rd-button1" style="border-top-right-radius: 0px;border-bottom-right-radius: 0px;">
                        <label><input type="radio" name="radio-group3" ng-model="global.currentModem.lock_type" value="standards" checked="true"><span>{{tr.STANDARDS}}</span></label>
                        </div>
                        <div class="rd-button1" style="border-top-left-radius: 0px;border-bottom-left-radius: 0px;">
                        <label><input type="radio" name="radio-group3" ng-model="global.currentModem.lock_type" value="bands" checked="true"><span>{{tr.BANDS}}</span></label>
                        </div>
                    </div>
                </div>
                <form name="myForm" ng-if="global.currentModem.lock_type=='standards'">
                    <div ng-repeat="item in standards_names" class="ck-button wrap"><label><input type="checkbox" ng-model="global.currentModem[standards_names.indexOf(item)]" ng-checked="global.currentModem.lock_data.indexOf(item) != -1" value="true"><span>{{item}}</span></label></br></div>
                </form>
                <form name="myForm" ng-if="global.currentModem.lock_type=='bands'">
                    <span ng-repeat="item in bands_names" class="ck-button wrap"><label><input type="checkbox" ng-model="global.currentModem[bands_names.indexOf(item)]"  ng-checked="global.currentModem.lock_data.indexOf(item) != -1" value="true"><span>{{item}}</span></label></span>
                </form>
            </td>
        </tr>
        <tr >
            <td>
                <div ng-click="reqStatus(global.currentModem, $event)" class="redbuttonn">{{tr.STATUS}}</div>
            </td>
            <td>
                <div ng-click="reqLock(global.currentModem, $event)" class="redbuttonn">{{tr.LOCK}}</div>
            </td>
        </tr>
        <tr >
            <td colspan="2">
                <hr style="border:1px solid black;margin:2px"/>
            </td>
        </tr>
        <tr >
            <td colspan="2">
                <div>
                <div style="display:inline-block;width:calc(50% - 2px)" ng-click="reqScan(global.currentModem, $event)" class="redbuttonn">{{tr.SCAN}}</div>
                <div style="display:inline-block;width:calc(50% - 2px)" ng-click="showScanDetail($event)" class="redbuttonn">{{tr.DETAILED_SCAN}}</div>
                </div>
            </td>

        </tr>
    </table>
</div>